*
{
    padding : 0;
    margin : 0;
}

p
{
    padding : 0;
    margin : 0;
}

.conteneur
{
    width : 404px;
    margin : auto;
    margin-top : 10px;
}

label 
{
    float : left;
    width : 200px;
}

input
{
    width : 200px;
    margin-bottom : 5px;
    border : 1px solid black;
}

input[type=submit]
{
    width : 204px;
}